*.egg-info
**/__pycache__
**/.DS_STORE
**/*.h5
**/*.csv
**/_build
**/*.pkl
venv

## old (not clean) targets
!healthcare_spending.csv
!medicaid_enrollment_2024.csv
!eitc.csv
!spm_threshold_agi.csv
!population_by_state.csv
!aca_spending_and_enrollment_2024.csv
!real_estate_taxes_by_state_acs.csv
!np2023_d5_mid.csv
!snap_state.csv
!age_state.csv
!agi_state.csv
!soi_targets.csv
