[build-system]
requires = [
  "setuptools>=45", 
  "wheel", 
  "setuptools_scm[toml]>=6.2",
]
build-backend = "setuptools.build_meta"

[project]
name = "policyengine_us_data"
version = "1.16.0"
description = "A package to create representative microdata for the US."
readme = "README.md"
authors = [
    {name = "PolicyEngine", email = "hello@policyengine.org"},
]
license = {file = "LICENSE"}
requires-python = ">=3.10, <3.13.0"
dependencies = [
    "policyengine_us",
    "policyengine_core>=3.14.1",
    "requests",
    "tqdm",
    "microdf_python>=0.4.3",
]

[project.optional-dependencies]
dev = [
    "black",
    "pytest",
    "quantile-forest",
    "torch",
    "tables",
    "tabulate",
    "furo",
    "jupyter-book",
    "yaml-changelog>=0.1.7",
    "build",
    "tomli",
    "itables",
]

[tool.setuptools]
packages = ["policyengine_us_data"]
include-package-data = true

[tool.setuptools.package-data]
"policyengine_us_data" = ["**/*"]

[tool.pytest.ini_options]
addopts = "-v"
testpaths = [
    "tests",
]

[tool.black]
line-length = 79
target-version = ['py311']
include = '\.pyi?$'
extend-exclude = '''
/(
  # directories
  \.eggs
  | \.git
  | \.hg
  | \.mypy_cache
  | \.tox
  | \.venv
  | build
  | dist
)/
'''