[build-system]
requires = ["setuptools>=45", "wheel", "setuptools_scm[toml]>=6.2"]
build-backend = "setuptools.build_meta"

[project]
name = "policyengine_us_data"
version = "1.3.1"
description = "A package to create representative microdata for the US."
readme = "README.md"
authors = [
    {name = "PolicyEngine", email = "hello@policyengine.org"},
]
license = {file = "LICENSE"}
requires-python = ">=3.10"
dependencies = [
    "policyengine_core",
    "requests",
    "tqdm",
]

[project.optional-dependencies]
dev = [
    "black",
    "pytest",
    "policyengine_us==1.71.1",
    "streamlit",
    "survey_enhance",
    "torch",
    "tables",
    "tabulate",
    "furo",
    "jupyter-book",
    "yaml-changelog>=0.1.7",
    "build",
    "tomli",
]

[tool.setuptools]
packages = ["policyengine_us_data"]
include-package-data = true

[tool.setuptools.package-data]
"policyengine_us_data" = ["**/*"]

[tool.pytest.ini_options]
addopts = "-v"
testpaths = [
    "tests",
]

[tool.black]
line-length = 79
target-version = ['py311']
include = '\.pyi?$'
extend-exclude = '''
/(
  # directories
  \.eggs
  | \.git
  | \.hg
  | \.mypy_cache
  | \.tox
  | \.venv
  | build
  | dist
)/
'''