[build-system]
requires = [
  "setuptools>=45", 
  "wheel", 
  "setuptools_scm[toml]>=6.2",
]
build-backend = "setuptools.build_meta"

[project]
name = "policyengine_us_data"
version = "1.40.1"
description = "A package to create representative microdata for the US."
readme = "README.md"
authors = [
    {name = "PolicyEngine", email = "hello@policyengine.org"},
]
license = {file = "LICENSE"}
requires-python = ">=3.11, <3.14.0"
classifiers = [
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
    "Programming Language :: Python :: 3.13",
]
dependencies = [
    "policyengine-us>=1.340.1",
    "policyengine-core>=3.14.1",
    "pandas>=2.3.1",
    "requests",
    "tqdm",
    "microdf_python",
    "setuptools>=60",
    "microimpute==0.1.4",
    "pip-system-certs",
    "google-cloud-storage",
    "google-auth",
    "scipy>=1.15.3",
    "statsmodels>=0.14.5",
    "openpyxl>=3.1.5",
    "tables>=3.10.2",
    "torch>=2.7.1",
    "us",
]

[project.optional-dependencies]
dev = [
    "black",
    "pytest",
    "quantile-forest",
    "tabulate",
    "furo",
    "jupyter-book",
    "yaml-changelog>=0.1.7",
    "build",
    "tomli",
    "itables",
]

[tool.setuptools]
packages = ["policyengine_us_data"]
include-package-data = true

[tool.setuptools.package-data]
"policyengine_us_data" = ["**/*"]

[tool.pytest.ini_options]
addopts = "-v"
testpaths = [
    "tests",
]

[tool.black]
line-length = 79
target-version = ['py311', 'py312', 'py313']
include = '\.pyi?$'
extend-exclude = '''
/(
  # directories
  \.eggs
  | \.git
  | \.hg
  | \.mypy_cache
  | \.tox
  | \.venv
  | build
  | dist
)/
'''
